// Define variables for your color scheme

// For example:
$red: #da2225;
$blue: #6c9adf;
$orange: #f4bb5a;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #F6FFDE;
$pink: #FF4081;
$green: #21b3ac;
$dark-brown: #2e261a;
$light-brown: #829980;
