<div class="d-flex container-sp-ar public-profile">
  <div class="avatar-profile">
    <%= cl_image_tag(@user.avatar.key, width: 200, height: 200, crop: :fill) %>
    <h1>
      <%= @user.nickname %>
    </h1>
  </div>

  <div class="card card-public">
    <div class="group-public">
      <h1>Wishlist</h1>
      <ul>
      <% @user.wishlist.wishes.each do |wish| %>
        <li><p><%= wish.content %></p></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
