<div class="banner">

  <%= render 'shared/navbar' %>


  <div class="container">
    <br>
    <h1>Organisez des soirée Secret Santa entre amis et en famille !</h1>
    <p>Créez des groupes de participants et lancer le tirage au sort<p>
    <p>En manque d'inspiration ? Allez voir les Wish Lists de vos amis<p>
    <%= link_to new_group_path, class: 'btn btn-green' do %>
      Créez un nouveau groupe
    <% end %>
  </div>
   </div>
   <%= render 'shared/footer' %>
